<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/update(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <div>
        <p>Role</p>

        <select name="rolesSelected" multiple required size="20">
            <option disabled selected>select role</option>
            <div th:each="role : ${roles}">
                <option th:text="${role.getName()}" th:value="${role.getId()}" name="roles"/>
            </div>

        </select>
    </div>
    <input type="submit" value="Update!"/>
</form>

<a href="/logout"><button><strong>Logout</strong></button></a>

</body>
</html>