<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
    <!--    меню-->
    <div class="container-fluid" style="background-color: dimgray">
        <!--        на всю ширину-->
        <div class="navbar-header">
            <!--            этот блок не является меню,а всего лишь заголовок меню-->
            <a href="#" class="navbar-brand">E-mail</a>
            <!--            настройки просто для красоты-->
        </div>
        <div>
            <ul class="nav navbar-nav">
                <!--                меню сайта по стандарту класс это навигация-->
                <li><a href="/logout">Logout</a></li>
                <!--                элемент меню ссылка можно в ли сделать сласс актив(активная ссылка)-->
            </ul>
        </div>
    </div>
</nav>
<table border="10" cellpadding="15" cellspacing="0">
    <thead>
    <tr>
        <th>id</th>
        <th>Firs Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr th:each="user, state : ${users}" align="center">
        <td th:text="${state.index + 1}"></td>
        <td>
            <a th:href="@{/admin(id=${user.getId()})}">
                <span th:text="${user.getName()}"></span>
            </a>
        </td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRolesName()}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${user.getId()})}">
                <button><strong>Update!</strong></button>
            </a>
            <form th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}">
                <input type="submit" value="Delete!"/>
            </form>
        </td>
        </td>
    </tr>
</table>

<br/>
<hr/>
<a href="/admin/new">
    <button><strong>New user</strong></button>
</a>
<a href="/logout">
    <button><strong>Logout</strong></button>
</a>

</body>
</html>